/* CSS is how you can add style to your website, such as colors, fonts, and positioning of your
   HTML content. To learn how to do something, just try searching Google for questions like
   "how to change link color." */
html, body{
	width: 99%;
	height: 100%;
}
head {
    font-family: monospace;
}
  img {
    display: block;
    text-align: center;
    margin: 0 auto;
    width: 90%;
  }
body {
  overflow-x: hidden;
  background-color: #282c34;
  color: #abb2bf;
  font-family: monospace;
}
table, th, td {
  color: #282c34;
  margin: auto;
  border: 1px solid #fff;
  border-collapse: collapse;
}
td {
  padding: 15px;
}
th {
  background-color: #61afee;
  font-weight: bold;
  opacity: 1;
  color: #fff;
}
th:hover {
  opacity: 1;
  background-color: #61afee;
  font-weight: bold;
  opacity: 1;
}
tr {
  background-color: #fff;
  border-bottom: 1px solid #282c34;
}
tr:nth-child(even) {
  background-color: #abb2bf;
}
tr:hover {
  opacity: 1;
  background-color: #e4c07b;
  font-weight: bold;
  opacity: 1;
}
/* 
grey #282c34
white #abb2bf
purp #c678dd
blue #61afee
light blue #56b6c2
green #95bf77
yellow #e4c07b
red #e06b75
tanrange #d19a66
*/
p {
  margin: 0% 2%;
  color: #abb2bf;
  text-align:justify;
  text-justify:inter-character;
  
}
p:before {

    color:#e06b75;

  opacity: 0.8;
}
p:after {
  color:#e06b75;
  content:"";
  opacity: 0.8;
}

h5 {
  text-align: center;
  margin: auto;
  /*color: #61afee; 
  */
}
h4 {
  /*color: #e4c07b; */
}
h3 {
  padding: 0;
  text-align: center;
}
h2 {
  /*color: #c678dd;*/
  font-size: 1em;
  
}
h2:before {
  font-size: 1em;
  color:#e4c07b;
  content:"";
  opacity: 0.8;
}
h2:after {
  font-size: 1em;
  color: #95bf77;
  content:" ";
}
h1 {
  /*color: #bce6b5;*/
  font-size: 1.25em;
  text-align: left;
  }
h1:hover {
  color: #fff;
  font-weight: bold;
}
/* unvisited link */
a:link {
  color: #56b6c2;
  /*font-variant: small-caps;
  font-stretch: normal;*/
  
}


/* visited link */
a:visited {
  color: #56b6c2;
  /*font-variant: small-caps;
  font-stretch: normal;*/
}

/* mouse over link */
a:hover {
  color: #fff;
  font-weight: bold;
}

/* selected link */
a:active {
  color: #5aa64e;
}
nav {
}
nav:before {
  content: "#";
}
nav:after {
  content: " <";
}

img {
  padding: 1%;
}

.frame {
  display: block;
  width: 100vw;
  height: 90vh;
  max-width: 100%;
  margin: 0;
  padding: 1%;
  border: 0 solid;
  box-sizing: content-box;
  text-align: center;
}
.spacer {
  padding: 100vh 0vw;
  margin: auto;
  text-align: justify;
  width: 10%;
}
.child {
  position: absolute;
  top: 0;
  background-color: rgba(255,255,255,0.0);
}

.child-1 {
  right: 0;
  width: 100%;
}

.child-2 {
  top: 2vh;
}
.child-3 {
  position: relative;
  top: 95vh;
  margin: auto;
  text-align: center;
  color: #282c34;
  background-color: rgba(255,255,255,0.5);

}
.child-4 {
  text-align: right; 
  color: #282c34; 
  background-color: rgba(255,255,255,0.5);
}
.parent {
  position: relative;
  background-color: rgba(255,255,255,0.0);
}